
<tab-viewer (tabClosed)="onTabClosed($event)">
  <tab *ngFor="let employee of employees" [header]="employee.name" [model]="employee">
    Hi {{employee.name}}
  </tab>
</tab-viewer>

<!--<div style="overflow-x: auto;background: mediumseagreen">
  <ul style="list-style: none; white-space:nowrap;">
    <li style="display: inline">Hi There</li>
    <li style="display: inline">Hello There</li>
    <li style="display: inline">Hi There</li>
    <li style="display: inline">Hello There</li>
    <li style="display: inline">Hi There</li>
    <li style="display: inline">Hello There</li>
    <li style="display: inline">Hi There</li>
    <li style="display: inline">Hello There</li>
    <li style="display: inline">Hi There</li>
    <li style="display: inline">Hello There</li>
  </ul>
</div>-->